service cloud.firestore {
  match /databases/{database}/documents {

  	// Progress posts (aka progress-pic-items)
  	// 	 - Authenticated users can read and create
  	// 	 - Only the owner of an item can delete and update 
    match /progress-post/{post} {
      allow update, delete: if request.auth.uid == resource.data.user.uid;
      allow read, create: if request.auth.uid != null; 
    }
    
    // Meal posts 
    //   - Authenticated users can read and create
    //   - Only the owner of an item can delete and update 
    match /meals/{post} {
      allow update, delete: if request.auth.uid == resource.data.user.uid;
      allow read, create: if request.auth.uid != null; 
    }
    
    // User info
    //   - Authenticated users can create
    //   - Only the owner of an item can update, and delete
    match /users/{user} {
      allow update, delete: if request.auth.uid == resource.data.user.uid;
      allow read, create: if request.auth.uid != null; 
    }
  }
}
